* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: verdana;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.box {
  height: 100px;
  width: 320px;
}

.one {
  background: pink;
  flex-shrink: 4;
}

.two {
  background: lightblue;
  flex-shrink: 5;
}

.three {
  background: rgb(123, 221, 123);
  flex-shrink: 6;
}
